@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lemonada', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://images.unsplash.com/photo-1593664349535-fbde57024cd9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    /* 處理blur效果的圖片白邊 */
    z-index: -1;
    /* 圖片置底 */
    filter: blur(30px);
}

.loading-text{
    font-size: 50px;
    color: gold;
}